<div style="text-align: center" style="margin-top: 30px">
    <img [src]="url" height="400" alt="Uploaded image will be shown here"> <br/>
   <input type='file' (change)="onSelectFile($event)">
    <h1>Ticket Details</h1>
    <form>
    <h3>Ticket No. <input #ticketNumber type="text"></h3>
    <h3>Price on Ticket <input #price type="text"></h3>
    <h3>Date of journey <input #date type="text"></h3>
    <h3>Distance Travelled <input #distance type ="text"></h3>
    <button type ="button" (click)="saveTicket(ticketNumber.value, price.value , date.value, distance.value)">Save</button>
    </form>
</div>
